src/main/resources/users.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="lastName" type="xs:string" />
                            <xs:element name="age" type="xs:int" />
                            <xs:element name="contactInformation">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="email" type="xs:string" />
                                        <xs:element name="phoneNumber" type="xs:long" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="phones">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="phone">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="brand" type="xs:string" />
                                                    <xs:element name="model" type="xs:string" />
                                                    <xs:element name="operatingSystem">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="name" type="xs:string" />
                                                            </xs:sequence>
                                                            <xs:attribute name="id" type="xs:int" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="battery">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="capacityMah" type="xs:float" />
                                                            </xs:sequence>
                                                            <xs:attribute name="id" type="xs:int" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:int" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:int" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

